.userInfo{
    padding: 50px 0 4px 0;
    background-color: #efe9e7;
    color: #3d1101;

    h2 a{
        @include logo (275px, 75px, "../logo/footer.svg");
        margin: 0 auto;
    }

    h4{
        margin: 5px 0 35px 0;
        text-align: center;
    }
}

.userInfo-main{
    margin: 0 auto;
    padding: 15px;
    border-top: 3px solid #aa7755;
    border-radius: 3px;
    box-shadow: 3px 3px 4px 3px rgb(180,180,180);
    color: #3d1101;

    h5{
        margin-bottom: 18px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    label{
        margin-bottom: 3px;
        line-height: 21px;
        cursor: pointer;
    }

    input{
        padding: 8px 8px 8px 33px;
        border-style: hidden;
        border-radius: 3px;
        border: 1px solid #ccc;
    }

    #email{
        margin-bottom: 15px;
        background: url("https://cdn3.iconfinder.com/data/icons/streamline-icon-set-free-pack/48/Streamline-58-1024.png") no-repeat;
        background-size: 15px 15px;
        background-position: 9px 50%;
        background-color: #fff;
    }

    input[type="password"]{
        background: url("https://cdn4.iconfinder.com/data/icons/mayssam/512/lock-1024.png") no-repeat;
        background-size: 15px 15px;
        background-position: 9px 50%;
        background-color: #fff;
    }

    a{
        margin: 10px 0 ;
        font-size: 14px;
        line-height: 19px;
        color: #f05e1c;
        cursor: pointer;

        &:hover{
            color: #3d1101;
        }
    }

    .btn_register, .submit{
        width: 45%;
        padding: 6px 0;
        color: #fff;
        cursor: pointer;

        &:hover{
            background-color: #3d1101;
        }
    }

    .btn_register{
        background-color: #877f6c;
    }

    .submit{
        background-color: rgb(233, 139, 42);
    }
}