h1{
    font-size: 40px;
}
h2{
    font-size: 36px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 16px;
}

span{
    font-size: 14px;
}

.text_price{
    font-family:'Times New Roman', Times, serif;
}